@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Just for reference: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373*/

*, *::before, *::after {
    box-sizing: border-box;
    /*border: 1px solid red; !* TODO: TEMPORARY, REMOVE LATER *!*/
}

body {
    margin: 0;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    background-color: #D4A373;;
    border-bottom: 3px solid black;
    height: 100px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#header nav {
    font-size: 1.5rem;
    margin: auto 5px auto auto;
    padding: 20px;
}

#header-img {
    margin: auto 10px;
    width: 70px;
    height: 70px;
}

#nav-bar a {
    margin: 25px;
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
}

#nav-bar a:hover {
    background-color: #CCD5AE;
    border-radius: 5px;
}

#caption {
    font-family: 'Quintessential', serif;
    font-size: 2rem;
    margin: auto auto auto 5px;
}

.fancy-text {
    font-family: "Quintessential", sans-serif;
}

#main-page-bg {
    position: absolute;
    z-index: -1;
    background-color: #FAEDCD;
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

#page-header {
    margin: 50px auto auto auto;
    text-align: center;
    width: 85%;
}

#mission-statement {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
}

#text-header {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: normal;
}

#company-values {
    margin-top: 100px;
}

#company-values li {
    list-style: none;
}

#company-values p {
    font-family: "Raleway", sans-serif;
}

#our-products {
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
}