@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Just for reference: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    background-color: #D4A373;
    border-bottom: 3px solid black;
    height: 100px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

#header nav {
    font-size: 1.5rem;
    margin: auto 5px auto auto;
    padding: 20px;
}

#header-img {
    margin: auto 10px;
    width: 70px;
    height: 70px;
}

#nav-bar a {
    margin: 25px;
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
}

#nav-bar a:hover {
    background-color: #CCD5AE;
    border-radius: 5px;
}

#caption {
    font-family: 'Quintessential', serif;
    font-size: 2rem;
    margin: auto auto auto 5px;
}

.fancy-text {
    font-family: "Quintessential", sans-serif;
}

#main-page-bg {
    position: absolute;
    z-index: -1;
    background-color: #FAEDCD;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Optional: Center content horizontally */
    justify-content: flex-start; /* Optional: Align content at the top */
    padding-top: 100px; /* Avoid overlap with the header */
    background-size: cover; /* Ensure background scales properly */
    background-repeat: no-repeat; /* Avoid repeating the background */
    background-attachment: fixed; /* Optional: Makes background fixed during scroll */
}

#page-header {
    margin: 50px auto auto auto;
    text-align: center;
    width: 85%;
    scroll-margin-top: 150px;
}

#mission-statement {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
}

#text-header {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: normal;
}

#company-values {
    margin: 100px auto 0;
    width: 90%;
    display: flex;
}

#company-values li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#company-values .material-symbols-outlined {
    font-size: 3rem;
    margin-right: 50px;
    margin-top: 20px;
    color: #CCD5AE;
}

#company-values p {
    margin: 5px 0 0 0; /* Add some space above the paragraph */
    font-family: "Raleway", sans-serif;
}

#our-products {
    scroll-margin-top: 150px;
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
}

#video-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 100px;
}

#video-wrapper iframe {
    border: 3px solid black;
    border-radius: 15px;
}

#contact-us {
    scroll-margin-top: 150px;
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
}

#box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-boxes {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px 50px;
}

.box {
    max-width: 400px;
    max-height: 400px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
}

.image-description {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.image {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}

#email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

#email-form p {
    margin-top: -20px;
    font-family: "Raleway", sans-serif;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    width: 500px;
    max-width: 500px;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

#submit {
    margin-top: 15px;
    margin-bottom: 50px;
    width: 400px;
    height: 25px;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    background-color: #E9EDC9;
}

#submit:hover {
    background-color: #CCD5AE;
}

#footer {
    background-color: #D4A373;
    position: absolute;
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 50px;
    top: 100%;
    border-top: 3px solid black;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
    .image-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(-1, 1fr);
    }

    #header nav {
        display: block;
        flex-wrap: wrap;
        font-size: 1rem;
        margin: auto 5px auto auto;
        padding: 20px;
    }

    #header-img {
        margin: auto 10px;
        width: 50px;
        height: 50px;
    }

    #caption {
        font-family: 'Quintessential', serif;
        font-size: 1.5rem;
        margin: auto auto auto 5px;
    }

    #nav-bar a {
    margin: 10px;

}
}

@media screen and (max-width: 1024px) {
    .image-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(-1, 1fr);
    }
}